*{
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(image/neom-gOqBe7ropxM-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: rgb(31, 30, 30);
    height: 500px;
    width: 500px;
    border: solid 1px white;
    border-radius: 35px;
    background: transparent;
    backdrop-filter: blur(20px);
    padding: 0px 40px;
    
}

label {
    color: hsl(0, 3%, 85%);
    font-size: 18px;
    font-weight: 500;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    margin: auto;

}

input {
    background: transparent;
    border-bottom: solid 1px white;
    height: 40px;
    width: 100%;
}

#Submit-btn {
    background-color: white;
    padding: 14px 5px;
    border: none;
    border-radius: 10px;
}