*{
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(image/neom-gOqBe7ropxM-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: rgb(31, 30, 30);
    height: 500px;
    width: 500px;
    border: solid 1px white;
    border-radius: 35px;
    background: transparent;
    backdrop-filter: blur(20px);
    padding: 0px 40px;
    
}

label {
    color: #0c160b;
    font-size: 20px;
    font-weight: 500;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;

}

input {
    background: transparent;
    border-bottom: solid 1px white;
    color: #0c160b;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    height: 40px;
    width: 100%;
    transition: 0.3s;
}

input:hover{
    border-bottom: solid 5px #0c160b;
    
}


#Submit-btn {
    background-color: #cfa990;
    color: #0c160b;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    padding: 14px 7px;
    text-align: center;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    height: 50px;
}

#Submit-btn:hover {
    background-color: hsl(24, 60%, 90%);
     font-size: 18px;
    font-weight: 700;
}